.mauxanh {
    color: blue;
}

.pink-text {
    font-weight: lighter;
    font-size: 12pt;
    color: rgb(255, 114, 138);
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0px;
}

ol {
    font-weight: lighter;
    font-size: 12pt;
    color: rgb(255, 114, 138);
    padding-left: 0;
    margin-top: 5px;
}

.bottom-right-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 1;
    /* Ensure the image is above other content */
}